/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(135deg, #8b55e9 0%, #5d6be6 100%);
}
.wrapper{
    position: absolute;
    visibility: hidden;
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
.wrapper .menu{
    padding: 10px, 12px;
}
.content .item{
    list-style: none;
    font-size: 22px;
    height: 50px;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    padding: 0 5px 0 10px;
    border-radius: 5px;
    margin-bottom: 2px;
}
.content .item:hover{
    background: #699ff0;
}
.content .item span{
    font-size: 19px;
    margin-left: 8px;
}
.content .setting{
    display: flex;
    margin-top: 1px;
    padding: 5px 12px;
    border-top: 1px solid #ccc;
}
.content .saveAs{
    position: relative;
    justify-content: space-between;
}
.saveAs .saveMenu{
    position: absolute;
    background: white;
    top: -45px;
    width: 200px;
    right: -200px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.08);
    border-radius: 10px;
    transition: 0.3s ease;
}
/*menu for when you hover over the items in save as*/
.saveAs:hover .saveMenu{
    opacity: 1;
    pointer-events: auto;
}